<h1>New Rental</h1>
<p>
  Name: {{input value=model.name class="name"}}
</p>
<p>
  Description: {{input value=model.description class="description"}}
</p>
<button {{action "save" model}} class="save-btn">save</button>
