<h1>Current User</h1>
<p>
  Name: {{input value=model.name }}
</p>
<p>
  Twitter handle: {{input value=model.twitter class="twitter-handle" }}
</p>
<button {{action "save" model }} class="save-btn">save</button>
