<ul>
  {{#each model as |user|}}
    <li>
      {{#link-to 'users.user' user}}{{ user.name }}{{/link-to}}
      <button {{action "save" user}}>Save</button>
    </li>
  {{/each}}
</ul>
{{#link-to 'users.new'}}New User{{/link-to}}
{{outlet}}
